html {
    font-family: "Comic Sans MS", "Comic Sans", Arial, sans-serif;
  }

h1, h2{
    font-family: "Papyrus";
}

ul{
    list-style-type:none;
    background-color:gray;
    text-align: center;
}

li{
    display:inline-block;
    padding: 16px;
}

a{
    color: black;
}

li:hover{
    background-color: #AAA;
}

footer{
    background-color: #DDD;
    color: #555;
    text-align: center;
    padding: 16px;
}